@model GameDTO
@{
    Layout = "_AdminLayout";
}
<div style="width:50%">
    <h2> Dodaj grę </h2>
    <a asp-action="Index" asp-controller="Game" class="btn btn-primary">Cofnij</a>
    <form asp-action="AddGame" enctype="multipart/form-data">
        @* <input type="hidden" asp-for="Id" /> *@

        <div class="my-2">
            <label>Gra*</label>
            <input type="text" class="form-control" asp-for="GameName" />
            <span asp-validation-for="GameName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Autor*</label>
            <input type="text" class="form-control" asp-for="AuthorName" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Gatunek*</label>
            <select class="form-control" asp-for="GenreId" asp-items="Model.GenreList">
                <option value="">Wybierz gatunek</option>
            </select>
            <span asp-validation-for="GenreId" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Cena*</label>
            <input type="number" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Zdjęcie</label>
            <input type="file" class="form-control" asp-for="ImageFile" />
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info">Add</button>
        </div>
    </form>
</div>